{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
<div class="box">
<nav class="navbar navbar-inverse navbar-fixed-top" id="nav" role="navigation" style="background-color:lightseagreen">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:white">Collab</a>
    </div>
   </div>
</nav>
</div> 

    <form method="post" action="." style="margin:80px 10px 10px 60px" autocomplete="off">{% csrf_token %}
        <table border="0">
        <div class="input-group">
            {{ form.as_table }}
        </div>
        </table>
        <input style="width:100px; background-color:aqua; margin:20px 20px 20px 130px" type="submit" value="Register" />
    </form>
    

<script type="text/javascript">
	$('input').addClass('form-control');


</script>

{% endblock %}