{% extends "base.html" %}
{% block title %}Welcome to Collab{% endblock %}
{% block content %}

<!-- sidebar -->
<nav class="navbar navbar-inverse sidebar" role="navigation" style="background:white;border-right:1px dotted grey">
    <div class="container-fluid" style="background:white">
    	<div class="navbar-header" style="border-bottom:1px dotted grey">
      		<a class="navbar-brand" href="/" style="font-size:20px">Collab</a>
    	</div>


    	<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li class="active" style="font-size:20px; background:white"><a style="background:white; color:black" href="/">Home<span style="font-size:16px;float:right;color:black"; class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>

          		<h4 style="color:black;margin-left:15px"> Public Channels({{ room|length }}) <a href="/add_channel/"><button style="color:black; border-radius:50%;" type="button">+</button></a></h4>
              <ul style="overflow-y: auto;height:200px;overflow-x: hidden;"> 
            		{% for e in room %}
              			<li style="margin-left:15px; "><a style="color:darkgrey" href="/channel/{{e}}/"># {{e}}</a></li>
            		{% endfor %}
              </ul>
          		<h4 style="color:black;margin-left:15px">Private Channels({{ p_room|length }}) <a href="/add_pchannel/"><button style="color:black; border-radius:50%;" type="button">+</button></a></h4>
              <ul style="overflow-y: auto;height:200px;overflow-x: hidden;">
            		{% for e in p_room %}
              			<li style="margin-left:15px; "><a style="color:darkgrey" href="/p_channel/{{e}}/"># {{e}}</span></a></li>
            		{% endfor %}
            </ul>

      		</ul>

    	</div>
    </div>
</nav>

<!-- push menu -->
<div class="navmenu navmenu-default navmenu-fixed-right offcanvas" >
     <a class="navmenu-brand" href="/">{{user.username}}</a>
      <ul class="nav navmenu-nav">
        <li><a href="/logout/">Logout</a></li>
      </ul>

</div>

<div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
</div>

<div class="container" style="padding:60px 0px 0px 200px">
	
	{% if chnl_type == "public" %}
		<h2> Create Public Channel </h2>
		
		<h4> You are attempting to create a public channel. All the users in the channel have accessiblity to add other users to this channel. Select your users from below </h4>
		
		<form action="/add_new_channel" method="POST" onsubmit="return sub()">
		<input style="width:80%; height:30px;" type="text" name="page_name" id="room" placeholder = " channel name"/>
		<br/>
			<h2 style="font-size:25px; padding-top:15px;"> Select your Users</h2>
			{% if users1 %}
				<select multiple style="width:60%; height:250px; padding-left:20px; padding-top:20px;"  id="alpha" name="select_user[]">
				 <div class="form-horizontal" role="form">
				{% for usrr in users1 %}
				{% if usrr != cnl.admin %}
					<<option class="list-group"  value="{{usrr}}">{{usrr}}</option>

				{% endif %}
				{% endfor %}
				</div>
				</select>
				
			{% endif %}
      	<br/>						
		<button type="submit" style="color:black; height:30px; width:20%; margin-top:20px">create</button>
		</form>
	
	{% elif chnl_type == "private" %}
		<h2> Create Private Channel </h2>
		<h4> You are attempting to create a private channel. Only you can add users to this channel. Select your users from below </h4>
		<form action="/add_new_pchannel" method="POST" onsubmit="return sub1()">
		<input style="width:80%; height:30px;" type="text" name="page_name" id="proom" placeholder = "channel name"/>
		<br/><br/>
			<h2 style="font-size:25px; padding-top:15px;"> Select your Users</h2>
			{% if users1 %}
				
				<select multiple style="width:60%; height:250px; padding-left:20px; padding-top:20px;"  id="alpha" name="select_user[]">
				 <div class="form-horizontal" role="form">
				{% for usrr in users1 %}
				{% if usrr != cnl.admin %}
					<<option class="list-group"  value="{{usrr}}">{{usrr}}</option>

				{% endif %}
				{% endfor %}
				</div>
				</select>
				
			{% endif %}
      	<br/>					
		<button type="submit" style="color:black; height:30px; width:20%; margin-top:20px" ">create</button>
     	</form>
      
    </div>
	{% endif %}
</div>

<!-- css -->
<style type="text/css">
html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}
make it fast 

.navbar-toggle {
  float: right;
  margin-right: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }

  .navbar {
    left: auto;
    background: none;
    border: none;
  }

@media (min-width: 768px) {
    .main{
      position: absolute;
      width: calc(100% - 40px); /*keeps 100% minus nav size*/
      margin-left: 40px;
      float: right;
    }
    nav.sidebar:hover + .main{
      margin-left: 200px;
  } 

nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
  }

nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
  }   

nav.sidebar a{
      padding-right: 13px;
  }


nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
   }

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
  }

nav.sidebar{
      width: 250px;
      height: 100%;
      margin-left: -160px;
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
      /*position:fixed;*/
      background: black;
  }

nav.sidebar li {
      width: 100%;
  }

nav.sidebar:hover{
      margin-left: 0px;
  }

.forAnimate{
      opacity: 0;
    }
  }

@media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px); /*keeps 100% minus nav size*/
      margin-left: 200px;
    }

	nav.sidebar{
      margin-left: 0px;
      float: left;
    }
    
    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

nav:hover .forAnimate{
    opacity: 1;
  } 

</style>

<script type="text/javascript">
function sub() {
	var room = document.getElementById('room').value;
	if(room.replace(/ /g,'') == ''){
		alert("Channel name should not be empty or spaces");
		return false;
	}
	else{
		window.location = '/channel/'+room;
	}
	
//   $('.btn').click(function(room) {
//   if ($('input').val() === '') {
//     e.preventDefault();
//     alert('input is empty'); 
//   }
// });
}


function sub1() {
    var room = document.getElementById('proom').value;
    if(room.replace(/ /g,'') == ''){
		alert("Channel name should not be empty or spaces");
		return false;
	}
	else{
		window.location = '/channel/'+room;
	}
}

function htmlbodyHeightUpdate(){
    var height3 = $( window ).height()
    var height1 = $('.nav').height()+50
    height2 = $('.main').height()
    if(height2 > height3){
      $('html').height(Math.max(height1,height3,height2)+10);
      $('body').height(Math.max(height1,height3,height2)+10);
    }
    else
    {
      $('html').height(Math.max(height1,height3,height2));
      $('body').height(Math.max(height1,height3,height2));
    }
    
  }
  $(document).ready(function () {
    htmlbodyHeightUpdate()
    $( window ).resize(function() {
      htmlbodyHeightUpdate()
    });
    $( window ).scroll(function() {
      height2 = $('.main').height()
        htmlbodyHeightUpdate()
    });
  });

function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      result.push(opt.value || opt.text);
    }
  }
  return result;
}

function sub_function(){
    var el = document.getElementsByTagName('select')[0]; 
      console.log(getSelectValues(el));
  $.ajax({
    type:"POST",
    url: '/add_users/{{ chat }}/',
    data: {"lst": getSelectValues(el)},
    success: function (data) {
      if(data["status"] == "200 OK")
        {window.history.go(0);}
      else{
        alert(data["status"]);
      }
    }
  });
  }


</script>

{% endblock %}