<!DOCTYPE html>
<html>
<head>
  <title>Collab</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://45.55.237.55:4000/socket.io/socket.io.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script>
  var socket;
    $(document).ready(function(){
      socket = io.connect('45.55.237.55', {port:4000});
      socket.emit('create', '{{ chat }}');
      socket.on('connect', function(){
        console.log("connect");
      });
      
      var entry_el = $('.comment');
               
      socket.on('message', function(message) {
        //Escape HTML characters
        var data = message.replace(/&/g,"&amp;").replace(/</g,"&lt;").replace(/>/g,"&gt;");
        
        //Append message to the bottom of the list
        data = data.split('*');
        console.log(data);
        var app;
        if(data[0] == "{{user.username|safe }}"){
          app = '<div class="panel panel-success" style="width:30%"><div class="panel-heading">'+data[0]+'<span style="float:right">'+data[2]+'</span></div><div class="panel-body">'+data[1]+'</div></div>';
        }
        else{
          app = '<div class="panel panel-warning" style="width:30%;display:block;margin-left:  auto;margin-right: 0;"><div class="panel-heading">'+data[0]+'<span style="float:right">'+data[2]+'</span></div><div class="panel-body">'+data[1]+'</div></div>'
        }
        $('#comments').append(app);
        window.scrollBy(0, 10000000000);
        entry_el.focus();
      });
                     
      entry_el.keypress(function(event){
        //When enter is pressed send input value to node server
        if(event.keyCode != 13) return;
        var msg = entry_el.attr('value');
        if(msg){
           socket.emit('send_message', "{{ chat }}~"+msg , function(data){
                console.log("{{ chat }}~"+msg);
           });
        
        //Clear input value   
        entry_el.attr('value', '');
       }
      });
    });
          function typ(){
        var msg = $('.comment').val();
        if(msg){
           socket.emit('send_message', "{{ chat }}~"+msg , function(data){
                console.log("{{ chat }}~"+msg);
           });
        
        //Clear input value   
         $('.comment').val('');
        }
      }
function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      result.push(opt.value || opt.text);
    }
  }
  return result;
}
  </script>
</head>
<body>
<div class="box" >
<nav class="navbar navbar-inverse navbar-fixed-top" id="nav" role="navigation" style="background-color:white">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" ></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:lightseagreen">Collab</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" >
        <li class="active" ><a href="/">Home <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout/"><bold style="color:black">logged in as {{ user.username }}, Logout?</bold></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="div1">
  <div class="container" style="max-width:75% ; border-left:1px dotted darkgrey; border-right:1px dotted darkgrey; margin-left:250px">
    <h2 align="center" style="color:white; top:30px; left:0;position:fixed;overflow:hidden;background-color:mediumaquamarine; width:100%; height:50px;padding-top:7px"> Channel : {{ chat }} </h2>
    <div id="comments" style="overflow-y:auto; margin-top:70px">
        {% for comment in comments %}
          {% if comment.user|safe == user.username|safe %}
          <div class="panel panel-success" style="max-width:40%;"><div class="panel-heading">{{comment.user}}<span style="float:right">{{comment.timestamp}}</span></div><div class="panel-body" style="word-wrap: break-word">{{comment.text}}</div></div>
          {% else %}
          <div class="panel panel-warning" style="max-width:40%;display:block;margin-left:auto;margin-right: 0;"><div class="panel-heading" style="word-wrap: break-word">{{comment.user}}<span style="float:right">{{comment.timestamp}}</span></div><div class="panel-body" style="display:inline-block;">{{comment.text}}</div></div>
          {% endif %}
        {% endfor %}
    </div>
    <br/>
     <div class="input-group" style="bottom:0; position:fixed; width:57%; padding-bottom:6px;">
      <input style="border:1px solid black;" type="text" class="form-control comment" placeholder="Type..">
      <span class="input-group-btn">
        <button class="btn btn-default" onclick="typ()" type="button" style="border:1px solid black; color:black">Send</button>
      </span>
    </div>
    <br/>
    <br/>
  </div>
  </div>

  <div class="div2" >
    <div class="container-fluid" >
      <h2 style="color:lightseagreen; text-align:center; padding-right:10px;">Users in the channel</h2>
      <br/>
      {% for i in access_user %}
        <bold style="color:white">{{i}} </bold><br/><br/>
      {% endfor %}
      <br/><br/>
      
    </div>
  </div>

<div class="div4">
{% if chnl_type == "private"  %}
  {% if cnl.admin == usr %}
    <div class="div3">
      <h2 style="font-size:25px; padding-top:15px; color:cyan"> Select your Users</h2>
      <br/>
      {% if users1 %}
      
      <select multiple style="width:90%; height:450px; padding-left:20px; padding-top:20px; background:darkslategrey" id="alpha">
      {% for usrr in users1 %}
        {% if usrr != cnl.admin %}
        <option class="list-group" style="color:white" value="{{usrr}}">{{usrr}}</option>

        {% endif %}
      {% endfor %}

      </select>
      {% endif %}
      <br/><br/>
      <button  class="btn btn-default" style="background-color:white" onclick="sub_function()">Submit</button>
    </div>
  {% endif %}
{% endif %}
</div>
</div>
</body>
<style type="text/css">
div.box {
  width:100%;overflow:auto;

}

div.div1 {
  margin-top:40px;
  float:left;
  width: 80%;height: 100%; 
  /*background-color:darkslategrey;*/

}

div.div2 {
  background:darkslategrey;
  margin-top:40px;
  right:0;
  width: 20%;height: 100%;
  position:fixed;
  padding-left:15px;
  padding-top: 10px;
  border-left: 1px dotted white;
}

div.div3{
  border-right: 1px dotted white;
  margin-top:40px;
  background:darkslategrey;
  left:0;
  width: 17%;
  height: 100%;
  text-align:center;
  position:fixed;
}

div.div4{
  border-right: 1px dotted white;
  background:darkslategrey;
  left:0;
  width: 17%;
  height: 100%;
  text-align:center;
  position:fixed;
}
</style>

<script type="text/javascript">
{% for comment in comments %}
  console.log("{{comment.timestamp}}");
{% endfor %}

  function sub_function(){
    var el = document.getElementsByTagName('select')[0]; 
      console.log(getSelectValues(el));
  $.ajax({
    type:"POST",
    url: '/add_users/{{ chat }}/',
    data: {"lst": getSelectValues(el)},
    success: function (data) {
      if(data["status"] == "200 OK")
        {window.history.go(0);}
      else{
        alert(data["status"]);
      }
    }
  });
  }
</script>
</html>